body {
  margin: 0;
  padding:0px;
  box-sizing: border-box;
  overflow-x: hidden;
  color:lightgoldenrodyellow;
  font-family: 'Bitter', serif;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
